header {
  background: gray url("https://mshanken.imgix.net/wso/bolt/2025-06/restaurant-guide-chains-fogo-de-chao-dining-061225_1600.jpg");
  background-size: cover;
  height: 35rem;
  color: white;
}
header h1 {
  font-size: 2.5rem;
  margin: 2rem 5rem 1.2rem;
}
header h1 span {
  text-transform: uppercase;
  display: block;
  font-size: 3rem;
  color: orange;
  position: relative;
  z-index: 1;
}
header h1 span::before {
  content: " ";
  position: absolute;
  width: 9rem;
  height: 1rem;
  background-color: #0fb;
  bottom: 0;
  left: -3rem;
}

.back-image {
  width: 3rem;
  position: fixed;
  top: 1rem;
  left: 1rem;
}

.header-description {
  font-weight: bold;
  padding: 2rem;
  max-width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5rem;
  border-radius: 1rem;
  box-shadow: 0.5rem 0.5rem 0.5rem #0fb;
}

.form-container label {
  color: #0fb;
}
.form-container p {
  color: #888;
}
.form-container form input[type=text] {
  border: 1px solid #0fb;
  padding: 0.5rem;
  border-radius: 0.5rem;
  margin-top: 1rem;
}
.form-container form input[type=button] {
  background-color: orange;
  border: none;
  border-radius: 0.5rem;
  color: white;
  padding: 1rem 0;
  width: 30%;
  font-size: 1.2rem;
  align-self: center;
  cursor: pointer;
}
.form-container form input[type=button]:hover {
  background-color: #cc8501;
}

.call-to-action {
  display: flex;
  flex-direction: column;
}
.call-to-action .call-to-action-message {
  padding: 5rem;
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.call-to-action .call-to-action-message h2 {
  text-transform: uppercase;
  position: relative;
  z-index: 1;
}
.call-to-action .call-to-action-message h2::before {
  content: " ";
  position: absolute;
  width: 9rem;
  height: 1rem;
  background-color: #0fb;
  bottom: 0;
  left: -3rem;
  z-index: -1;
}
