header {
  background-color: teal;
  width: 100%;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  position: fixed;
  z-index: 10;
  top: 0;
  .logo {
    color: white;
    font-size: 2rem;
    margin: 0;
  }

  .menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: baseline;
    gap: 1rem;

    a {
      text-decoration: none;
      color: white;
      font-size: 1.2rem;
      white-space: nowrap;
      font-weight: bold;

      &:global.active {
        color: yellow;
      }

      &:hover {
        color: lightblue;
      }
    }
  }
}
