

.mainContainer {
  
  display: flex;
  justify-content: space-between;
  margin-top: 5rem;
  padding: 0 3vw;
  gap: 2rem;

  aside {
      position: sticky;
        top: 5rem;
        height: calc(100vh - 5rem);
        overflow-y: auto;
        flex-shrink: 0;

    &.leftSide {
      left: 0;
     
    }

    &.rightSide {
      right: 0; 
      
    }
  }
}