@use "./scss/mixins";

header {
  ul {
    list-style: none;
    @include mixins.flexbox();
    gap: 1.5rem;

    li {
      @include mixins.flexbox();
      gap: 0.5rem;

      a {
        text-decoration: none;
        color: black;
        font-weight: bold;
      }
    }
  }
}

.ui-features {
  @include mixins.flexbox;
}

.features-container {
  .features {
    @include mixins.flexbox;
    flex-wrap: wrap;
    gap: 0.5rem;
  }
  @include mixins.flexbox;
  flex-direction: column;
  margin-top: 5rem;
  border: 3px solid blue;
  padding: 1.5rem;
  gap: 2rem;
}

.form {
  margin-top: 3rem;
  padding: 2rem;
  @include mixins.flexbox;
  flex-direction: column;
  gap: 1rem;

  &.invalid {
    border: 1px solid red;
  }

  .control {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 45rem;
  }
}
