* {
  font-size: 24px;
}

p {
  color: red;
}

.purpose {
  color: purple;
}

#cv {
  color: brown;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
  border: 2px solid black;
  width: 300px;
  height: 150px;
  margin: 20px;
  margin-left: 50px;
 padding: 10px 15px 25px;
 text-align: center;
 box-sizing: border-box;
}

.my-list {
  border: 1px solid red;
}

h2 {
  background-color: green;
}

p {
  color: blue;
  font-size: 18px;
  color: #7772c8;
}

.experience {
  color: aqua;
}


p.second {
  color: black;
}

form input {
  padding: 10px;
}

input {
  padding: 30px;
}

label, footer {
  color: rgb(255, 0, 0);
  color: #de0202;
}

/* p.second => elementul care are clasa second si tag-ul p */ 
/* p.second.experience => elementul care are clasa experience si clasa second si tag-ul p */
/* form input => elementul care un imput si are unul dintre parinti care este un form */
/* label, footer =? se aplica proprietatile pentru fiecare dintre selectorii enumerati prin virgula */
