* {
    box-sizing: border-box;
    font-size: 20px;
}

.responsiveContainer {
    font-size: 30px;
    border: 5px dotted red;
    width: 90%;
}

.responsiveSpanParrent {
    font-size: 0.5em;
}

.responsiveSpan {
    font-size: 0.5rem;
}

.layer1 {
    border: 2px solid black;
    border-radius: 5px;
    background-color: azure;
    width: 90%;
    padding: 20px;
}

.layer2 {
    border: 2px solid red;
    background-color: lightgrey;
    width: 50%;
    height: 5rem;
}

.responsive-image {
    max-width: 100%;
    max-width: 10rem;
}

.low-res {
    max-width: 100%;
}

.picture-tag {
    max-width: 10rem;
    border: 5px solid blue;
}

.box {
    background-color: red;
    border: 1px solid black;
    width: 30%;
    /* vw => viewport width */
    width: 30vw;
    /* vh => viewport height */
    height: 20vh;
}

.flex-container {
    margin-top: 1rem;
    width: 90%;
    display: flex;
    border: 5px solid green;
    gap: 0.5rem;
    justify-content: space-between;
}

.flex-container .flex-item {
    width: 5rem;
    height: 5rem;
    background-color: blue;
    border: 3px solid black;
}

.flex-item {
    background-color: red;
}

/* trebuie scrise media queries in ordinea inversa a incluziunii */
@media only screen and (max-width: 1500px) {
    body {
        background-color: red;
    }
}

@media only screen and (max-width: 1000px) {
    body {
        background-color: yellow;
    }
}

@media only screen and (max-width: 700px) {
    body {
        background-color: lightblue;
    }

    .flex-container {
        flex-direction: column;
        align-items: center;
    }

    .low-res {
        display: none;
    }
}

@media only screen and (min-width: 1300px){
    body {
        background-color: green;
    }
}

@media only screen and (min-width: 1400px){
    body {
        background-color: blue;
    }
}