@use '../../../styles/variables' as *;


.rightContent {
  width: 22rem;
  top: 5rem;
  height: fit-content; 
  display: flex;
  flex-direction: column;
  gap: 1.5rem; 

  /* ascunde scrollbar*/
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;   
  scrollbar-width: none;
}

// Card Generic
.sideCard {
  background: $white;
  border-radius: 12px;
  padding: 20px;
  border: 1px solid $ice-melt;

  .cardTitle {
    font-size: 1.1rem;
    margin: 0 0 20px 0;
    padding-bottom: 15px;
    border-bottom: 1px solid $cloud-dancer;
    color: $text-dark;
  }

  .noActivity {
    color: $nimbus-cloud;
    font-size: 0.9rem;
    margin: 0;
  }

  /*  Active Users*/
  .activeUsersGrid {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    align-items: center;
  }

  .activeUserItem {
    display: flex;
    align-items: center;

    img {
      width: 44px;
      height: 44px;
      border-radius: 50%;
      object-fit: cover;
      cursor: pointer;
      transition: transform 0.2s ease, box-shadow 0.2s ease;

      &:hover {
        transform: scale(1.1);
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.12);
      }
    }
  }
}

// Lista Activitati
.activityList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.activityItem {
  display: flex;
  align-items: center;
  gap: 12px;
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid $cloud-dancer;

  &:last-child {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 0;
  }

  img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
    transition: transform 0.2s ease;

    &:hover {
      transform: scale(1.08);
    }
  }

  .activityInfo {
    p {
      font-size: 0.9rem;
      margin: 0;
      color: $text-muted;

      strong {
        color: $text-dark;
        cursor: pointer;
        transition: color 0.2s ease;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    span {
      font-size: 0.8rem;
      color: $nimbus-cloud;
    }
  }
}

// Banner 
.adBanner {
  background: linear-gradient(135deg, $peach-dust, $raindrops-on-roses);
  border-radius: 12px;
  padding: 15px;
  text-align: center;
  color: $white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;

  .adLogo {
    width: 100%;
    border-radius: 8px;
    object-fit: cover;
  }

  h2 {
    font-size: 1.2rem;
    margin: 0;
    font-weight: 600;
  }
}