.feature{
    border: 1px solid black;
    width: 8rem;
    min-height: 11rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid grey;
    padding:1rem;
    button {
        padding:0.5rem;
        
    }
    .buttonImg{
        width: 5rem;

    }
    .acButtonImg{
        width: 7rem;
    }
}