* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  object-fit: cover;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: lightblue;
  .main-search {
    display: flex;
    align-items: center;
    .logo {
      padding: 1rem;
      font-size: 2rem;
      color: royalblue;
    }
    .search-input {
      height: 2rem;
      border-radius: 0.5rem;
      width: 15rem;
      padding: 0 1rem;
      border: 1px solid #00ddff;
      box-shadow: 0 1px 5px #00ddff;
      &:hover {
        border: 0.1rem solid #00ddff;
        outline: none;
      }
    }
  }
  .navigation,
  .links {
    display: flex;
  }
  .messages {
    position: relative;
    display: block;
    top: 0.3rem;
    .messagesNumber {
      position: absolute;
      top: -0.5rem;
      right: 1.5rem;
      background-color: red;
      display: none;
      justify-content: center;
      align-items: center;
      font-size: 0.6rem;
      color: white;
      font-weight: bold;
      border-radius: 50%;
      width: 1rem;
      height: 1rem;
    }
    #messagesButton {
      border: none;
      background-color: transparent;
      cursor: pointer;
    }
    .messagesMenu {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 2.5rem;
      right: -3rem;
      width: 12rem;
      border-radius: 1rem 1rem 0 0;
      p {
        padding: 0.5rem;
        width: 100%;
        display: flex;
        justify-content: center;
        background-color: white;
      }
      button {
        padding: 0.5rem 0;
        border: 1px solid transparent;
        border-top: 1px solid lightblue;
        border-radius: 0 0 1rem 1rem;
        cursor: pointer;
        font-weight: bold;
        background-color: lightblue;
        &:hover {
          background-color: blue;
          color: white;
        }
      }
    }
  }
  .accountSettings {
    position: relative;
    top: 0.3rem;
    #accountSettingsButton {
      border: none;
      background-color: transparent;
      cursor: pointer;
    }
    .accountSettingsMenu {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 3rem;
      right: 0;
      width: 12rem;
      #logoutButton {
        border-radius: 0 0 0 1rem;
      }
      button {
        padding: 0.5rem 0;
        border: 1px solid lightblue;
        cursor: pointer;
        background-color: white;
        &:hover {
          background-color: blue;
          color: white;
        }
      }
    }
  }
  .nav-icons {
    font-size: 2rem;
    color: royalblue;
    margin: 0 2rem;
    .feed {
      i {
        color: darkblue;
      }
    }
    &:hover {
      color: darkblue;
    }
  }
  .bell-icon {
    position: relative;
    display: block;
    span {
      position: absolute;
      top: 0;
      right: 0;
      background-color: red;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 0.6rem;
      color: white;
      font-weight: bold;
      border-radius: 50%;
      width: 1rem;
      height: 1rem;
    }
  }
}

main {
  display: flex;
  justify-content: center;
  background-color: rgb(228, 246, 251);
  margin-top: 3.5rem;

  .left-content,
  .right-content {
    position: fixed;
    width: 17%;
    overflow: auto;
    height: calc(100vh - 5rem);
  }
}

.left-content {
  left: 0;
  padding: 1rem 2rem;
  span {
    font-size: large;
    font-weight: bold;
    padding-left: 1rem;
  }

  .side-buttons {
    div {
      padding: 0.5rem 0;
      width: 100%;
      transition: all 0.3s;
    }
    .history {
      position: fixed;
      bottom: 0;
    }
    .history div,
    .sugestions div {
      &:hover {
        transform: scale(1) rotate(0deg) translate(0px, 0px) skewX(0deg);
        box-shadow: -1px 0 rgba(0, 0, 0, 0.3);
        padding-left: 1rem;
        color: darkblue;
      }
    }
  }
}
.interests {
  overflow: hidden;
  .interests-item {
    padding: 0;
    margin: 0;
    .interests-header {
      display: flex;
      padding: 0.5rem 0;
      margin: 0;
      cursor: pointer;
      transition: color 0.3s ease;
      position: relative;
      &:hover {
        color: darkblue;
      }
      .icon {
        transition: transform 0.3s ease;
        padding-left: 2rem;
      }
      &::after {
        content: "";
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 1px;
        bottom: 0;
        left: 0;
        background-color: darkblue;
        transition: transform 0.25s ease-out;
      }
      &:hover::after {
        transform: scaleX(1);
      }
      &::after {
        transform-origin: bottom right;
      }
      &:hover::after {
        transform-origin: bottom left;
      }
    }
    .interests-content {
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.3s ease;
      li {
        padding: 0.5rem;
        font-size: 1rem;
        line-height: 1;
        list-style: none;
        transition: color 0.3s ease;
      }
      .nature {
        &:hover {
          color: green;
        }
      }

      .food {
        &:hover {
          color: orange;
        }
      }
      .gaming {
        &:hover {
          color: purple;
        }
      }
      .add-more {
        &:hover {
          color: darkblue;
        }
      }
    }
  }
  input {
    display: none;
  }
}

.interests-item input:checked ~ .interests-content {
  max-height: 200px;
  padding: 0.5rem;
  background-color: rgba(255, 255, 255, 0.3);
}

.interests-item input:checked + .interests-header .icon {
  transform: rotate(45deg) translatey(-1rem);
}

.right-content {
  right: 0;
  font-size: large;
  font-weight: 500;
  padding-right: 1.5rem;
  h3 {
    margin: 1.5rem 0 0.5rem 0;
  }
  .messenger {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    .first {
      width: 100%;
      border: 1px solid transparent;
      background-color: transparent;
      font-family: 'Times New Roman', Times, serif;
      font-size: large;
      &:hover {
        background-color: #ffffffe6;
      }
    }
    .second {
      .status {
        background-color: green;
      }
    }
    .third {
      .status {
        background: orange;
      }
    }
    .sendMessage {
      display: none;
      flex-direction: row;
      justify-content: center;
      input {
        width: 100%;
        padding: 0.2rem 0.5rem;
        margin: 0.2rem;
        border: 1px solid rgba(128, 128, 128, 0.5);
        border-radius: 2rem;
      }
      button {
        background-color: transparent;
        border: 1px solid transparent;
        cursor: pointer;
        margin: 0.2rem;
        color: royalblue;
      }
    }
  }
  .suggested {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;

    .follow {
      position: absolute;
      right: 2rem;
      font-size: small;
      font-weight: bold;
      color: royalblue;
      transition: all 0.3s;
      &:hover {
        color: darkblue;
      }
    }
    button {
      display: flex;
      background-color: transparent;
      border: transparent;
      font-family: "Times New Roman", Times, serif;
      cursor: pointer;
    }
  }
  .stories {
    ul {
      display: flex;
      gap: 0.5rem;
      overflow: auto;
      white-space: nowrap;
      padding: 0.5rem;
    }
    img {
      border: 2px solid royalblue;
      border-radius: 50%;
      transition: all 0.5s ease;
      height: 3rem;
      width: 3rem;
      &:hover {
        transform: scale(1.05);
        box-shadow: 0 0 10px rgba(72, 73, 73, 0.5);
      }
    }
  }
}

.friend {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem 0.5rem;
  transition: all 0.3s;

  &:hover {
    background-color: #ffffffe6;
    cursor: pointer;
  }
  .picture-status {
    position: relative;
    display: flex;
    .friend-picture {
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 50%;
      object-fit: cover;
    }
    .status {
      width: 0.5rem;
      height: 0.5rem;
      background-color: red;
      border-radius: 50%;
      border: 2px solid white;
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }
}
.profile-image {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

.main-content {
  width: 50%;
  background-color: rgba(255, 255, 255, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .post {
    box-shadow: 1px 1px 1px 1px #ccc;
    padding: 1rem;
    width: 100%;
    height: min-content;
    border-radius: 1rem;
    margin-top: 2rem;
    position: relative;
    font-size: medium;
    background-color: white;
    .post-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .profile-user-info {
        display: flex;
        align-items: center;
        span {
          padding: 0.5rem;
          font-size: 1rem;
          font-weight: 600;
        }
        .category {
          font-weight: bold;
          position: absolute;
          top: 1.5rem;
          right: 2rem;
          display: flex;
          gap: 0.7rem;
          .nature {
            color: green;
            border: 1px solid green;
            border-radius: 10px;
            transition: all 0.4s;
            &:hover {
              box-shadow: 0px 0px 20px 2px rgba(45, 255, 196, 0.9);
            }
          }
          .event {
            color: magenta;
            border: 1px solid magenta;
            border-radius: 10px;
            transition: all 0.4s;
            &:hover {
              box-shadow: 0px 0px 20px 2px rgba(255, 0, 255, 0.9);
            }
          }
        }
      }
    }
    .profile-options {
      position: absolute;
      right: 0;
      top: 0;
      padding: 1rem;
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      border: none;
      background-color: transparent;
      &:hover {
        background-color: lightblue;
      }
    }
    .profileOptionsDropdown {
      position: absolute;
      z-index: 1;
      top: 1.5rem;
      right: 0rem;
      width: 10rem;
      display: flex;
      flex-direction: column;
      display: none;
      button {
        padding: 0.2rem;
        cursor: pointer;
        background-color: white;
        border: 0.5px solid gray;
        &:hover {
          background-color: lightblue;
        }
      }
    }

    .content {
      display: flex;
      flex-direction: column;
      p {
        padding: 0.5rem 1rem;
      }
      img {
        border-radius: 2rem;
        padding: 0.5rem 0;
        width: 100%;
      }
      .img-wrapper {
        position: relative;

        .img-content {
          max-width: 100%;
        }

        .info-icon {
          position: relative;
          left: 42rem;
          bottom: 1.5rem;
          font-size: 2rem;
          background-color: gray;
          border-radius: 50%;
          width: 2rem;
          height: 2rem;
          display: flex;
          cursor: pointer;
          color: white;
          border: 2px solid royalblue;
        }
        .infoMessage {
          position: absolute;
          display: none;
          background-color: white;
          border: 1px solid blue;
          border-radius: 1rem;
          top: 23rem;
          left: 4rem;
          padding: 0.5rem;
        }
      }
      .post-title {
        padding: 0.5rem;
      }
    }
    .bottom-section {
      display: flex;
      justify-content: space-around;
      span {
        padding: 0.5rem;
        font-style: normal;
      }
      .like {
        &:hover,
        &.touched {
          color: red;
        }
      }
      .comment,
      .share,
      .save {
        &:hover,
        &.touched {
          color: royalblue;
        }
      }
    }
    .comment-section {
      display: flex;
      justify-content: space-evenly;
      padding-bottom: 1rem;
      align-items: center;
      gap: 0.5rem;
      .new-comment-filed {
        width: 80%;
        border-radius: 0.5rem;
        padding: 0.5rem;
        background-color: rgba(173, 216, 230, 0.3);
        border: 1px solid black;
      }
      .insert-comment-button {
        border: none;
        background-color: transparent;
        font-size: 1.2rem;
        cursor: pointer;
        padding: 0.5rem 0.7rem;
      }
      .button {
        display: inline-flex;
        font-size: 22px;
        align-items: center;
        justify-content: center;
        text-align: center;
        letter-spacing: 1.3px;
        font-weight: 700;
        color: #313133;
        background: linear-gradient(
          90deg,
          rgb(154, 202, 241) 0%,
          rgb(91, 174, 229) 100%
        );
        border: none;
        border-radius: 50%;
        box-shadow: 5px 5px 10px rgba(99, 173, 238, 0.64);
        transition: all 0.3s ease-in-out 0s;
        cursor: pointer;
        &:hover,
        &:focus {
          transform: translateY(-6px);
        }
      }
    }
    .user-comments {
      display: flex;
      flex-direction: column;
      .profile-user-comment {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        position: relative;
        z-index: 10;
        font-weight: 600;
        img {
          object-fit: cover;
          margin-left: 0.5rem;
        }
      }
      .user-comment-text {
        margin: 0 1rem;
        border: 1px solid #888;
        padding: 1rem;
        border-radius: 0 1rem 1rem 1rem;
        background-color: rgba(173, 216, 230, 0.2);
        position: relative;
        left: 1rem;
        bottom: 1rem;
        .removeCommentButton {
          cursor: pointer;
        }
      }

      .comment-reaction {
        position: absolute;
        bottom: 0.5rem;
        left: 3rem;
        span {
          padding-left: 0.3rem;
          padding-right: 1rem;
          font-style: normal;
          &:hover {
            cursor: pointer;
            color: darkblue;
          }
        }
      }
    }
  }
}

@media (max-width: 1040px) {
  .right-content {
    display: none;
    visibility: hidden;
  }

  .left-content {
    margin: 0;
    padding: 0.5rem;
  }
}
