* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: lightblue;
}
header .main-search {
  display: flex;
  align-items: center;
}
header .main-search .logo {
  padding: 1rem;
  font-size: 2rem;
  color: royalblue;
}
header .main-search .search-input {
  height: 2rem;
  border-radius: 0.5rem;
  width: 15rem;
  padding: 0 1rem;
  border: 1px solid #00ddff;
  box-shadow: 0 1px 5px #00ddff;
}
header .main-search .search-input:hover {
  border: 0.1rem solid #00ddff;
  outline: none;
}
header .navigation,
header .links {
  display: flex;
}
header .nav-icons {
  font-size: 2rem;
  color: royalblue;
  margin: 0 2rem;
}
header .nav-icons .feed i {
  color: darkblue;
}
header .nav-icons:hover {
  color: darkblue;
}
header .bell-icon {
  position: relative;
  display: block;
}
header .bell-icon span {
  position: absolute;
  top: 0;
  right: 0;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.6rem;
  color: white;
  font-weight: bold;
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
}

main {
  display: flex;
  justify-content: center;
  background-color: rgb(228, 246, 251);
  margin-top: 3.5rem;
}
main .left-content,
main .right-content {
  position: fixed;
  width: 17%;
  overflow: auto;
  height: calc(100vh - 5rem);
}

.left-content {
  left: 0;
  padding: 1rem 2rem;
}
.left-content span {
  font-size: large;
  font-weight: bold;
  padding-left: 1rem;
}
.left-content .side-buttons div {
  padding: 0.5rem 0;
  width: 100%;
  transition: all 0.3s;
}
.left-content .side-buttons .history {
  position: fixed;
  bottom: 0;
}
.left-content .side-buttons .history div:hover,
.left-content .side-buttons .sugestions div:hover {
  transform: scale(1) rotate(0deg) translate(0px, 0px) skewX(0deg);
  box-shadow: -1px 0 rgba(0, 0, 0, 0.3);
  padding-left: 1rem;
  color: darkblue;
}

.interests {
  overflow: hidden;
}
.interests .interests-item {
  padding: 0;
  margin: 0;
}
.interests .interests-item .interests-header {
  display: flex;
  padding: 0.5rem 0;
  margin: 0;
  cursor: pointer;
  transition: color 0.3s ease;
  position: relative;
}
.interests .interests-item .interests-header:hover {
  color: darkblue;
}
.interests .interests-item .interests-header .icon {
  transition: transform 0.3s ease;
  padding-left: 2rem;
}
.interests .interests-item .interests-header::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: darkblue;
  transition: transform 0.25s ease-out;
}
.interests .interests-item .interests-header:hover::after {
  transform: scaleX(1);
}
.interests .interests-item .interests-header::after {
  transform-origin: bottom right;
}
.interests .interests-item .interests-header:hover::after {
  transform-origin: bottom left;
}
.interests .interests-item .interests-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}
.interests .interests-item .interests-content li {
  padding: 0.5rem;
  font-size: 1rem;
  line-height: 1;
  list-style: none;
  transition: color 0.3s ease;
}
.interests .interests-item .interests-content .nature:hover {
  color: green;
}
.interests .interests-item .interests-content .food:hover {
  color: orange;
}
.interests .interests-item .interests-content .gaming:hover {
  color: purple;
}
.interests .interests-item .interests-content .add-more:hover {
  color: darkblue;
}
.interests input {
  display: none;
}

.interests-item input:checked ~ .interests-content {
  max-height: 200px;
  padding: 0.5rem;
  background-color: rgba(255, 255, 255, 0.3);
}

.interests-item input:checked + .interests-header .icon {
  transform: rotate(45deg) translatey(-1rem);
}

.right-content {
  right: 0;
  font-size: large;
  font-weight: 500;
  padding-right: 1.5rem;
}
.right-content h3 {
  margin: 1.5rem 0 0.5rem 0;
}
.right-content .messenger {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}
.right-content .messenger .second .status {
  background-color: green;
}
.right-content .messenger .third .status {
  background: orange;
}
.right-content .suggested {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}
.right-content .suggested .follow {
  position: absolute;
  right: 2rem;
  font-size: small;
  font-weight: bold;
  color: royalblue;
  transition: all 0.3s;
}
.right-content .suggested .follow:hover {
  color: darkblue;
}
.right-content .stories ul {
  display: flex;
  gap: 0.5rem;
  overflow: auto;
  white-space: nowrap;
  padding: 0.5rem;
}
.right-content .stories img {
  border: 2px solid royalblue;
  border-radius: 50%;
  transition: all 0.5s ease;
  height: 3rem;
  width: 3rem;
}
.right-content .stories img:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(72, 73, 73, 0.5);
}

.friend {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem 0.5rem;
  transition: all 0.3s;
}
.friend:hover {
  background-color: rgba(255, 255, 255, 0.9019607843);
}
.friend .picture-status {
  position: relative;
  display: flex;
}
.friend .picture-status .friend-picture {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.friend .picture-status .status {
  width: 0.5rem;
  height: 0.5rem;
  background-color: red;
  border-radius: 50%;
  border: 2px solid white;
  position: absolute;
  bottom: 0;
  right: 0;
}

.profile-image {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

.main-content {
  width: 50%;
  background-color: rgba(255, 255, 255, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-content .post {
  box-shadow: 1px 1px 1px 1px #ccc;
  padding: 1rem;
  width: 100%;
  height: -moz-min-content;
  height: min-content;
  border-radius: 1rem;
  margin-top: 2rem;
  position: relative;
  font-size: medium;
  background-color: white;
}
.main-content .post .post-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-content .post .post-header .profile-user-info {
  display: flex;
  align-items: center;
}
.main-content .post .post-header .profile-user-info span {
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: 600;
}
.main-content .post .post-header .profile-user-info .category {
  font-weight: bold;
  position: absolute;
  top: 1.5rem;
  right: 2rem;
  display: flex;
  gap: 0.7rem;
}
.main-content .post .post-header .profile-user-info .category .nature {
  color: green;
  border: 1px solid green;
  border-radius: 10px;
  transition: all 0.4s;
}
.main-content .post .post-header .profile-user-info .category .nature:hover {
  box-shadow: 0px 0px 20px 2px rgba(45, 255, 196, 0.9);
}
.main-content .post .post-header .profile-user-info .category .event {
  color: magenta;
  border: 1px solid magenta;
  border-radius: 10px;
  transition: all 0.4s;
}
.main-content .post .post-header .profile-user-info .category .event:hover {
  box-shadow: 0px 0px 20px 2px rgba(255, 0, 255, 0.9);
}
.main-content .post .profile-options {
  position: absolute;
  right: 0;
  top: -1rem;
  padding: 1rem;
}
.main-content .post .content {
  display: flex;
  flex-direction: column;
}
.main-content .post .content p {
  padding: 0.5rem 1rem;
}
.main-content .post .content img {
  border-radius: 2rem;
  padding: 0.5rem 0;
  width: 100%;
}
.main-content .post .content .img-wrapper {
  position: relative;
}
.main-content .post .content .img-wrapper .img-content {
  max-width: 100%;
}
.main-content .post .content .info-icon {
  position: absolute;
  right: 2rem;
  bottom: -0.5rem;
  font-size: 2rem;
  background-color: gray;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  display: flex;
  cursor: pointer;
  color: white;
  border: 1px solid royalblue;
}
.main-content .post .content .post-title {
  padding: 1rem;
}
.main-content .post .bottom-section {
  display: flex;
  justify-content: space-around;
}
.main-content .post .bottom-section span {
  padding: 0.5rem;
  font-style: normal;
}
.main-content .post .bottom-section .like:hover {
  color: red;
}
.main-content .post .bottom-section .comment:hover,
.main-content .post .bottom-section .share:hover,
.main-content .post .bottom-section .save:hover {
  color: royalblue;
}
.main-content .post .comment-section {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 1rem;
  align-items: center;
  gap: 0.5rem;
}
.main-content .post .comment-section .new-comment-filed {
  width: 80%;
  border-radius: 0.5rem;
  padding: 0.5rem;
  background-color: rgba(173, 216, 230, 0.3);
  border: 1px solid black;
}
.main-content .post .comment-section .insert-comment-button {
  border: none;
  background-color: transparent;
  font-size: 1.2rem;
  cursor: pointer;
  padding: 0.5rem 0.7rem;
}
.main-content .post .comment-section .button {
  display: inline-flex;
  font-size: 22px;
  align-items: center;
  justify-content: center;
  text-align: center;
  letter-spacing: 1.3px;
  font-weight: 700;
  color: #313133;
  background: linear-gradient(90deg, rgb(154, 202, 241) 0%, rgb(91, 174, 229) 100%);
  border: none;
  border-radius: 50%;
  box-shadow: 5px 5px 10px rgba(99, 173, 238, 0.64);
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
}
.main-content .post .comment-section .button:hover, .main-content .post .comment-section .button:focus {
  transform: translateY(-6px);
}
.main-content .post .user-comments {
  display: flex;
  flex-direction: column;
}
.main-content .post .user-comments .profile-user-comment {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  position: relative;
  z-index: 10;
  font-weight: 600;
}
.main-content .post .user-comments .profile-user-comment img {
  -o-object-fit: cover;
     object-fit: cover;
  margin-left: 0.5rem;
}
.main-content .post .user-comments .user-comment-text {
  margin: 0 1rem;
  border: 1px solid #888;
  padding: 1rem;
  border-radius: 0 1rem 1rem 1rem;
  background-color: rgba(173, 216, 230, 0.2);
  position: relative;
  left: 1rem;
  bottom: 1rem;
}
.main-content .post .user-comments .comment-reaction {
  position: absolute;
  bottom: 0.5rem;
  left: 3rem;
}
.main-content .post .user-comments .comment-reaction span {
  padding-left: 0.3rem;
  padding-right: 1rem;
  font-style: normal;
}
.main-content .post .user-comments .comment-reaction span:hover {
  cursor: pointer;
  color: darkblue;
}

@media (max-width: 1040px) {
  .right-content {
    display: none;
    visibility: hidden;
  }
  .left-content {
    margin: 0;
    padding: 0.5rem;
  }
}/*# sourceMappingURL=feed.css.map */